body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
}

/* section {
    width: 100%;
    overflow: hidden;
} */

#title {
    background-color: #000000;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 2% 2%;
    width: 100%;
}


h1 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size:  6rem;
    line-height: 1.5;
    color: #fff;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:  2.5 rem;
    color: #000000;
    margin: 3% 10%;
}

h3 { 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 8% 10%;
}

p {
    color: #8f8f8f;
}


.btn{
    margin: 10px;
    align-items: center;
}


/* Navigation Bar */
.navbar {
    padding: 3% 5%;
    width: 100%;
    z-index: 1000; 
}


.navbar-item {
    padding: 0 0 10px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}



/* Down Arrow */
.down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
}



@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
}


.icon{
    color: #ffffff;
    margin-bottom: 1rem;
}

.icon:after{
    color: #f4ba28;
}





/* Computing art and design section */
.CAD-container-fluid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#CAD {
    padding: 5% 15%;
    text-align: center;
    background-color: #ffffff;
    text-align: center;
}

.CAD-item {
    width: 48%;
    margin-bottom: 20px;
}

.CAD-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.CAD-caption {
    margin-bottom: 1rem;
}

.CAD-image {
    width: 100%;
    height: auto;
}



/* Photography Section */

#photography{
    padding: 0% 10% 5% 10%; 
    text-align: center;
    background-color: #ffffff;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
    background-size: 100%, 100%;
}

.photography-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.photography-image {
    width: 45%;
    height: auto;
    margin: 10px;
}



/* Film Section */
#film {
    padding: 0% 10% 10% 10%;
    text-align: center;
}


.film-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* collapsible text */
.collapsible {
    background-color: #ffffff;
    color:#000000;
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.content {
    display: none; 
    overflow: hidden;
    padding: 0 15px;
}




/* Footer Section */
#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
}

.footer-icon {
    margin: 10px 20px;
}

.footer-link:active{
    color: rgb(255, 255, 255);
}

.footer-link:visited{
    color: rgb(255, 255, 255);
}

.footer-link:link{
    color: rgb(255, 255, 255);
}

