body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
}

section {
    width: 100%;
    overflow: hidden;
}

#title {
    background-color: #000000;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.container-fluid {
    padding: 2% 2%;
    width: 100%;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:  5rem;
    line-height: 1.5;
    color: #fff;
}

h2 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size:  2.5 rem;
    color: #000000;
    margin: 3% 10%;
}

h3 { 
    font-family: 'Poppins';
    font-weight: bold;
    margin: 8% 10%;
}

p {
    color: #8f8f8f;
}


.btn{
    margin: 10px;
}


/* Navigation Bar */
.navbar {
    padding: 3% 5% 5% 3%;
    width: 100%;
    z-index: 1000; 
}

.navbar-brand {
    font-family: 'Domine';
    font-size: 2.0rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 0 10px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


/* Download Button */
.resume-button {
    margin: 5% 5%;
}


/* Down Arrow */
.down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
}



@media (max-width: 1028px) {
    #title {
        text-align: center;
    
    }
    
}

/* Feature Section
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%; 
} */

.icon{
    color: #ffffff;
    margin-bottom: 1rem;
}

.icon:after{
    color: #f4ba28;
}





/* Computing art and design section */
.CAD-container-fluid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#CAD {
    padding: 5% 15%;
    text-align: center;
    background-color: #ffffff;
    text-align: center;
}

.CAD-item {
    width: 48%;
    margin-bottom: 20px;
}

.CAD-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.CAD-caption {
    margin-bottom: 1rem;
}

.CAD-image {
    width: 100%;
    height: auto;
}




/* Film Section */
#film {
    padding: 5% 10%;
    text-align: center;
    background-color: #ffffff;
}

.film-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}





/* Photography Section */

#photography{
    padding: 5% 15%; 
    text-align: center;
    background-color: #ffffff;
}


.carousel-item {
    padding: 5% 15%;
} 

.photography-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.photography-image {
    width: 50%;
    height: auto;
    margin: 10px;
}


/* collapsible text */
.collapsible {
    background-color: #000000;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    outline: none;
  }

.content {
    display: none;
    overflow: hidden;
    padding: 0 15px;
}







/* Footer Section */
#footer {
    padding: 7% 15%;
    text-align: center;
}

.footer-icon {
    margin: 10px 20px;
}

.footer-link:active{
    color: black;
}

.footer-link:visited{
    color: black;
}

.footer-link:link{
    color: black;
}

